.list-group-item {
border-radius: 0px;
border: 1px solid rgba(213, 213, 213, 0.70);
color: rgb(103, 103, 103);
padding: 15px 15px 15px 45px;
font-size: 1.5rem;
}

body {
    background-color: rgb(245, 245, 245);
    font-family: montserrat;
}

.delete {
    background: none;
    border: none;
    color: gray;
}

.delete:hover {
    background: none;
    color: rgb(35, 35, 35);
}